.download-btn{
  text-decoration: none;
  color: white;
}
.profile-img{
    height: 500px;
    width: 500px;
    margin-left: 40px;
    margin-top: 40px;
}
.profile-content{
    padding-top: 220px;
    margin-right: 60px;
}
.profile-content{
    width:70px;
    height: 2px;
    color: black;
   
}
.project-title-underline {
    height: 2px;
    width: 17%;
    background-image: linear-gradient(
      to left,
      rgb(197, 248, 255),
      #abb3ff,
      rgb(197, 248, 255)
    );
    margin-left: 42%;
    display: none;
}
.project-header{
    display: flex;
    flex-direction: column;
}
.container:hover .project-title-underline{
   display: flex;
}
.projects-cards{
    width: 400px;
}
.skill-container:hover .project-title-underline{
   display: flex;
}
.projects-cards{
    display: flex;
    width: 650px;
    height: 300px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    /* box-shadow: 0px 0px 30px #e6b5ff; */
    box-shadow: 0 0 1px 1px inset rgba(100, 224, 255, 0.8); 

}
.projects-cards:hover{
    background-color: rgba(136, 231, 255, 0.8)
 
}
.card-img{
  width: 250px;
}
.projects-cards-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-content{
    width: 400px;
    font-size: 16px;
    margin-top: 20px;
    text-justify: auto;
}
.projects-cards-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects-cards-session{
   margin-top: 100px;
}
.main-card-session{
    margin-left: 35px;
}
.skill-card-body{
    height: 150px;
    width: 150px;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(52, 52, 52);
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 10px 20px 0px rgba(0, 157, 255, 0.232);
}

.skill-card-sec {
    width: 100%;
    display: flex;
    padding: 50px 0;
    /* background-color: red; */
    gap: 80px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .skill-card-body:hover {
    transform: scale(1.05);
    box-shadow: 2px 10px 20px 0px rgba(0, 123, 255, 0.152);
  }
  .skill-card-logo {
    width: 70px;
    height: auto;
    -webkit-tap-highlight-color: transparent;
  }
  .skill-title-underline {
    height: 2px;
    width: 17%;
    background-image: linear-gradient(
      to left,
      rgb(197, 248, 255),
      #abb3ff,
      rgb(197, 248, 255)
    );
    margin-left: 42%;
}

.contact-sec,
.darkmode-contact-sec {
  min-height: 120vh;
  width: 100%;
  background-image: linear-gradient(to bottom, white, #e7e9ff);
  display: flex;
  justify-content: center;
  align-items: center;
}
.darkmode-contact-sec {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), #00042d);
  color: white;
}
.contact-sec-left-body {
  min-height: 100vh;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: end;
  /* background-color: red; */
}
.contact-sec-title-1 {
  height: 30px;
  width: 300px;
  color: #a0a0a0;
  font-weight: 600;
  font-size: 0.8rem;
  /* background-color: red; */
}
.contact-sec-title-2 {
  height: auto;
  width: 300px;
  font-size: 4rem;
  /* background-color: red; */
}
.contact-sec-right-body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  /* background-color: red; */
}

/* //form section */

.form-sec {
  height: 500px;
  width: 400px;
  background-color: #ffffff;
  border-radius: 40px;
  color: rgb(0, 0, 0);

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 30px rgba(211, 231, 255, 0.399);
}

.form-title {
  height: 50px;
  /* height: 30px; */
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.form-input-field-sec {
  /* height: 70px; */
  height: 50px;
  width: 300px;
  /* background-color: red; */
  display: flex;
  font-size: 0.8rem;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}
.form-input-field {
  border: 0;
  padding: 0;
  /* background-color: rgb(0, 255, 8); */
  border-bottom: 1px solid black;
  height: 30px;
  width: 99%;
}
.form-input-field:focus {
  outline: none;
}
.form-send-btn {
  height: 35px;
  width: 95px;
  border: 0;
  color: white;
  font-size: 1.1rem;
  border-radius: 7px;
  background-color: rgb(52, 137, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 10px; */
  cursor: pointer;
  position: relative;
  transition: all 0.35s ease;
}
.form-send-btn:hover {
  padding-right: 20px;
  background-color: rgb(4, 93, 216);
}

.form-btn-icon {
  /* display: none; */
  opacity: 0;
  height: 15px;
  position: absolute;
  width: auto;
  transform: translateX(50%);
  filter: invert(1);
  transition: all 0.3s ease-in-out;
}

.form-send-btn:hover .form-btn-icon {
  opacity: 1;
  transform: translateX(200%);
}
.rights{
    background-color: #d7ebf5;
    color: #00042d;
}
